div.test { 
  position:absolute;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -50px;
  /* display:none; */			
  background: rgba(0, 0, 0, .8);
  color: rgba(255, 255, 255, .8);
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 40px;
  padding-right: 30px;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 0 0 0 2px rgb( 0, 0, 0 );
}

div.busy { 
  position:absolute;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -50px;
  /* display:none; */			
  background: rgba(0, 0, 0, .8);
  color: rgba(255, 255, 255, .8);
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 40px;
  padding-right: 30px;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 0 0 0 2px rgb( 0, 0, 0 );
}